---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectItem from "../components/ProjectItem.astro";

const pageTitle = "Mitch Pruitt | Designer & Developer";
const allProjects = await getCollection("projects");
allProjects.sort((a, b) => a.data.order - b.data.order);
---

<BaseLayout pageTitle={pageTitle}>
	<section class="content">
		<ul class="project-list">
			{allProjects.map((project) => 
				<ProjectItem url={`/projects/${project.slug}`} title={project.data.title} subtitle={project.data.subtitle} cover={project.data.cover} coverAlt={project.data.coverAlt}/>
			)}
		</ul>
	</section>
</BaseLayout>

<script>
	import gsap from 'gsap';

	gsap.fromTo('.project-item', {
		autoAlpha: 0,
	},
	{
		autoAlpha: 1,
		duration: 1,
		stagger: 0.1,
		ease: 'power4.out',
	});
</script>