---
import { Image } from "astro:assets";
const {image, caption, width = ""} = Astro.props;

---

<a class="gallery-item" href={image.src} title={caption}>
    <Image src={image} width={width} alt={caption} />
</a>