---
import { Image } from "astro:assets";
const {image, caption, vertical = "", group} = Astro.props;
---
<a class="gallery-item" href={image.src} data-description={caption} data-gallery={`gallery${group}`}>
    {
        () => {
        if (vertical === "true") {
           return <Image src={image} width={250} title={caption} alt={caption} />
        } else {
           return <Image src={image} height={250} title={caption} alt={caption} />
        }
    }
</a>

<style>
    .gallery-item {
        border-radius: 4px;
        overflow: hidden;
    }
</style>