---
import { Picture } from "astro:assets"
const {title, url, subtitle, cover, coverAlt} = Astro.props
---
<li class="project-item">
    <a href={url}>
        <div class="project-image">
            <Picture src={cover} alt={coverAlt} loading={"eager"} width={850}/>
        </div>
        <p class="title">{title}</p>
        <p class="subtitle label">{subtitle}</p>
    </a>
</li>

<style>
    .project-item {

        .title, .subtitle {
            transition: var(--transition-regular);
            overflow: hidden;
        }
        
        img {
            transition: 1s ease-out;
        }
        
        .project-image {
            height: max-content;
            margin-bottom: 10px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            box-shadow: var(--shadow-elevation-low);
            transition: var(--transition-regular);
            background-image: radial-gradient(var(--gray-light) 2px, transparent 2px);
            background-size: 15px 15px;
            background-color: rgb(var(--offwhite));
        }
    
        .title {
            font-size: 26px;
            font-variation-settings: var(--wide-semibold);
            margin-bottom: 4px;
            color: rgb(var(--darkest));
            padding: 4px 0;
        }
    
        .subtitle {
            font-size: 14px;
            font-variation-settings: var(--extra-light);
            color: rgb(var(--primary));
        }

        &:hover {
            .title {
                color: rgb(var(--dark));
            }

            .project-image {
                box-shadow: var(--shadow-elevation-high);

                img {
                    transform: scale(1.025);
                }
            }
        }
    }



</style>