---
import { Image } from "astro:assets"
const {title, url, subtitle, cover, coverAlt} = Astro.props
---
<li class="project-item">
    <a href={url}>
        <div class="project-image">
            <Image src={cover} alt={coverAlt} />
        </div>
        <p class="title">{title}</p>
        <p class="subtitle">{subtitle}</p>
    </a>
</li>

<style>
    .project-item {
        
        .title, .subtitle {
            color: var(--text-black);
            transition: var(--transition-regular);
        }
        
        img {
            transition: 1s ease-out;
        }

        &:hover {
            .project-image {
                img {
                    transform: scale(1.025);
                }
            }

            .title, .subtitle {
                color: var(--brand-primary);
            }
        }
    }

    .project-image {
        height: 300px;
        margin-bottom: 10px;
        overflow: hidden;
    }

    .title {
        font-size: 24px;
        font-variation-settings: var(--wide-semibold);
        margin-bottom: 4px;
    }

    .subtitle {
        font-size: 16px;
        font-variation-settings: var(--extra-light);
    }
</style>