---
import "@styles/global.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { AstroSeo } from "@astrolib/seo"
const baseURL = "https://mitchpruitt.com"
const currentPath = Astro.url.pathname;
const {pageTitle, headerColor, footer, description, ogImage=""} = Astro.props;
---
<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#">
	<AstroSeo 
		title={pageTitle}
		titleTemplate="Mitch Pruitt | %s"
		description={description}
		canonical={baseURL}
		openGraph={{
			type: "website",
			url: baseURL + currentPath,
			title: `Mitch Pruitt | ${pageTitle}`,
			site_name: "mitchpruitt.com",
			images: [
				{
					url: `${baseURL}/og/${ogImage}`,
					secureUrl: `${baseURL}/og/${ogImage}`,
					width: 1200,
					height: 630,
					type: 'image/jpg',
				},
			]
		}}
		twitter={{
			cardType: 'summary_large_image',
		}}
		additionalMetaTags={[
			{
				name: 'viewport',
				content: 'width=device-width'
			}, {
				name: 'generator',
				content: Astro.generator
			}
		]}
		additionalLinkTags={[
			{
				rel: 'preconnect',
				href: 'https://use.typekit.net/'
			},
			{
				rel: 'preconnect',
				href: 'https://p.typekit.net/'
			},
			{
				rel: 'stylesheet',
				href: 'https://use.typekit.net/god4dlz.css'
			},
			{
				rel: 'sitemap',
				href: `${baseURL}/sitemap-index.xml`
			}
		]}
	/>
	<meta charset="utf-8">
	<head>
		<noscript>
			<style>
				main {
					visibility: visible !important;
				}
			</style>
		</noscript>
		<script type='text/javascript'>
			window.smartlook||(function(d) {
			  var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
			  var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
			  c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
			  })(document);
			  smartlook('init', '8f95a36f5b935312e5fcb7de913efe5271a8c1a9', { region: 'eu' });
		  </script>
	</head>
	<body>
		<Header headerColor={headerColor}/>
		<main>
			<slot />
		</main>
		<Footer display={footer}/>
	</body>
</html>