---
import "@styles/global.css";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { AstroSeo } from "@astrolib/seo"
// const baseURL = "https://mitchpruitt.com"
const baseURL = "https://staging--mpportfolio-5.netlify.app"
const currentPath = Astro.url.pathname;
const {pageTitle, headerColor, footer, description} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<AstroSeo 
		title={pageTitle}
		titleTemplate="Mitch Pruitt | %s"
		description={description}
		canonical={baseURL}
		openGraph={{
			url: baseURL + currentPath,
			title: `Mitch Pruitt | ${pageTitle}`,
			site_name: "mitchpruitt.com",
			images: [
				{
					url: `${baseURL}/ruckus.png`,
					secureUrl: `${baseURL}/ruckus.png`,
					width: 1200,
					height: 630,
					alt: 'Og Image Alt',
					type: 'image/png',
				},
			]
		}}
		additionalMetaTags={[
			{
				name: 'viewport',
				content: 'width=device-width'
			}, {
				name: 'generator',
				content: Astro.generator
			}, {
				name: 'charset',
				content: 'utf-8'
			}
		]}
		additionalLinkTags={[
			{
				rel: 'stylesheet',
				href: 'https://use.typekit.net/god4dlz.css'
			}
		]}
	/>
	<head>
		<noscript>
			<style>
				main {
					visibility: visible !important;
				}
			</style>
		</noscript>
	</head>
	<body>
		<Header headerColor={headerColor}/>
		<main>
			<slot />
		</main>
		<Footer display={footer}/>
	</body>
</html>