---
import BaseLayout from "./BaseLayout.astro";
import MetaItem from "../components/MetaItem.astro";
import { Image } from "astro:assets";
import './projectLayout.css';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={"Mitch Pruitt | " + frontmatter.title}>
    <div class="project-layout-image">
        <Image src={frontmatter.cover} alt={frontmatter.coverAlt} loading={"eager"} />
    </div>
    <section class="content">
        <div class="project-header-grid">
            <header class="project-header">
                <h1 class="title">{frontmatter.title}</h1>
                <p class="label subtitle">{frontmatter.subtitle}</p>
            </header>
            <h5 class="description">{frontmatter.description}</h5>
            <ul class="meta">
                <MetaItem label="Role" value={frontmatter.role} />
                <MetaItem label="Client" value={frontmatter.client} />
                <MetaItem label="Year" value={frontmatter.year} />
                <MetaItem label="Team" value={frontmatter.studio} />
            </ul>
        </div>
        <div class="project-body">
            <slot />
        </div>
    </section>
</BaseLayout>

<script src="./projectLayout.js" />